//colors
$primary-color: #d59f35;
$dark-primary: #333333;
$secondary-color: #333333;
$light-color: #ffffff;
$soft-light-color: #f4f3f1;
$dark-color: #000000;

$success-color: #4caf50;
$danger-color: #f44336;
$info-color: #2196f3;
$warning-color: #ff9800;

$priamry-gradient: linear-gradient(135deg, #f4f3f1, #333333);

$primary-text-color: #3f3f3f;
$text-color: #2e2e2e;
