@import "src/assets/scss/theme";

.logo{
  .logo-image{
    width: 150px;
    height: 50px;
    object-position: center;
    object-fit: contain;
  }
  .logo-text{
    font-weight: bold;
    font-size: 20px;
  }
}
